
<ul >
  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#recent" data-toggle="tab">Most Recent</a></li>
  <li><a href="#votes" data-toggle="tab">Highest Votes</a></li>
  <li><a href="#trending" data-toggle="tab">Trending</a></li>
</ul>
  <%= render '/shared/recent' %>

  <%= render '/shared/votes' %>
  <%= render '/shared/trending' %>


