<ul class="homepage-questions">
  <% @questions.each do |question| %>
    <li>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 single-question"><%= question.votes.count %></div>
         <div class="col-md-8 col-sm-8 col-xs-8 single-question">
          <%= link_to question.title, question_path(question) %>
         </div>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to 'ask new question', new_question_path %>
