.single-question {
  /*border-top: 1px solid #aaa;*/
  border-bottom: 1px solid #ddd;
}
h1 {
  display: inline;
}

h3.question-title-header {
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
}

.single-answer {
  list-style: none;
  padding:20px 0;
  border-bottom: 1px solid #aaa;
}

.single-answer-body {
  font-size: 1.3em;
}

.single-answer-info, .question-info {
  float: right;
}

.user-name {
  font-weight: bold;
}
.row {
  padding: 20px 0;
}

.question-body{
  font-size: 1.3em;
}

.question {
  padding-bottom: 50px;
  background-color: #efefef;
}

.header{
  background-color:#efefef;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.nav-pills{
  float:right;
}


.comment-form, .comment-form-question{
display:none;
}

textarea#new_answer! {
  width: 100px;
  height: 100px;
}

textarea.form-control{
  height:100px;
  margin-bottom: 30px;
}
.comment-list-answer, .comment-list {
  list-style: none;
}

.answer-question {
  display: none;
}